pandas
python-dotenv
numpy
scikit-learn
sqlalchemy
dvc
openpyxl
dvc[s3]
awscli
mlflow
dagshub
xgboost
joblib
pytest
fastapi
uvicorn
pydantic
psycopg2-binary
starlette
httpx
mlflow_skinny==3.11.1
mlflow_tracing==3.11.1
